@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@layer components {
  .tsce-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .tsce-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .tsce-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
  }

  .tsce-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
}
